{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='scss/css/database.css') }}">

<body>
    <div class="relative">
        <canvas class="background-hacker">
        </canvas>
        
        <div class="container">
            
            <h1 style="color:white; text-align:center; padding-top:3%; margin-bottom:5%;">DATABASE</h1>
            <a href="/" class="err-link mb-5">[home]</a>
            <h2 style="color:white;">Historique</h2>
            {% set items_per_page = 50 %}
            {% set current_page = request.args.get('page', 1)|int %}
            {% set page_start_historique = (current_page - 1) * items_per_page %}
           <table class="table">
            <thead>
                <tr>
                    <td class="td">Id</td>
                    <td class="td">Recherche</td>
                    <td class="td">Page de départ</td>
                    <td class="td">Nombre de site</td>
                    <td class="td">Date</td>
                    <td class="td td-button"></td>
                    <td class="td td-button"></td>
                </tr>
                
            </thead>
            <tbody>
                {% for row in historique[page_start_historique:(page_start_historique + items_per_page)] %}
                <tr>

                    <td class="td">{{ row.0 }}</td>
                    <td class="td">{{ row.1 }}</td>
                    <td class="td">{{row.2 }}</td>
                    <td class="td">{{row.3*10 }}</td>
                    <td class="td">{{ row.4 }}</td>
                    <td class="td td-button"><button  type="button" class="btn-action-database">Editer</button></td>
                    <td class="td td-button"><button onclick="deleteHistorique({{ row.0 }})" type="button" class="btn-action-database">Supprimer</button></td>
                </tr>
                {% endfor %}
            </tbody>
           </table>

           <h2 style="color:white;">Sites</h2>
           {% set items_per_page = 50 %}
           {% set current_page = request.args.get('page', 1)|int %}
           {% set page_start_historique = (current_page - 1) * items_per_page %}
          <table class="table">
           <thead>
               <tr>
                   <td class="td">Nom de domaine</td>
                   <td class="td"></td>
                   <td class="td">Lien du site</td>
               </tr>
               
           </thead>
           <tbody>
            {% for row in site %}
               <tr>
                   <td class="td">{{ row.1 }}</td>
                   {% if row.2 == 0 %}
                        <td><strong class="text-red"> Invulnérable </strong></td>
                   {% else %}
                        <td><strong class="text-green"> Vulnérable </strong></td>
                    {% endif %}
                   <td><a name="" id="" class="btn btn-success" href="{{row.0}}" role="button" target="_blank">Aller sur le site</a></td>
               </tr>
               {% endfor %}
           </tbody>
          </table>

{# 
            <h2 style="color:white;">Sites</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-right:30px; margin-left:30px;">
                {% for row in site %}
                    <div class="card h-100 carte_hacker carte_site" style="margin-right:15px; margin-left:30px;">
                        <div class="card-body" >
                            <div class="text-center">
                                <p><strong>Nom de domaine: </strong>{{ row.1 }}</p>
                                {% if row.2 == 0 %}
                                    <p><strong style="background-color:red;"> Invulnérable </strong></p>
                                {% else %}
                                    <p><strong style="background-color:green;"> Vulnérable </strong></p>
                                {% endif %}
                                <a name="" id="" class="btn btn-success" href="{{row.0}}" role="button" style="background-color:rgb(23, 153, 11);">Aller sur le site</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> #}
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/sql.js') }}"></script>
<script src="{{ url_for('static', filename='js/hacker.js') }}"></script>
<script src="{{ url_for('static', filename='js/database.js') }}"></script>

