{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='scss/css/database.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sql.css') }}">

<body>
    <div class="relative">
        <canvas class="background-hacker">
        </canvas>
        


        <div class="container">
            <h1 style="color:white; text-align:center; padding-top:3%; margin-bottom:5%;">DATABASE</h1>
            <a href="/" class="err-link mb-5">[home]</a>
            <h2 style="color:white;">Historique</h2>
            {% set items_per_page = 50 %}
            {% set current_page = request.args.get('page', 1)|int %}
            {% set page_start_historique = (current_page - 1) * items_per_page %}

            <div class="btn_container">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" onclick="afficherPopup(1)">Ajouter un site</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" onclick="afficherPopup(2)">Ajouter dans l'historique</button>
                    </div>
                </div>
            </div>
            
            <div id="popup1" class="popup_overlay">
                <div class="popup">
                    <h2>Site</h2>
                    <a class="popup_close" href="#" onclick="fermerPopup(1)">&times;</a>
                    <div class="popup_content">
                        <form>
                            <div class="form-group">
                                <label for="inputTextSite">URL du site (entière)</label>
                                <input type="text" class="form-control" id="inputTextSite" placeholder="Entrez votre texte ici">
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="insertSite()">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="popup2" class="popup_overlay">
                <div class="popup">
                    <h2>Historique</h2>
                    <a class="popup_close" href="#" onclick="fermerPopup(2)">&times;</a>
                    <div class="popup_content">
                    <form>
                        <div class="form-group" style="display:none;">
                            <label for="idHistorique">Recherche</label>
                            <input type="text" class="form-control" id="idHistorique">
                        </div>
                        <div class="form-group">
                            <label for="inputTextHistorique">Recherche</label>
                            <input type="text" class="form-control" id="inputTextHistorique" placeholder="Entrez votre texte ici">
                        </div>
                        <div class="form-group">
                            <label for="inputNumberHistorique">Page de départ</label>
                            <input type="number" class="form-control" id="inputNumberHistorique" placeholder="Entrez un nombre entier">
                        </div>
                        <div class="form-group">
                            <label for="inputNumberRequete">Nombre de requete</label>
                            <input type="number" class="form-control" id="inputNumberRequete" placeholder="Entrez un autre nombre entier">
                        </div>
                        <button type="submit" id="submitButton" class="btn btn-primary" onclick="insertHistorique()">Envoyer</button>
                        <button type="submit" id="modifyButton" class="btn btn-primary" onclick="editHistorique()">Modifier</button>
                    </form>
                    </div>
                </div>
            </div>

           <table class="table">
            <thead>
                <tr>
                    <td class="td">Id</td>
                    <td class="td">Recherche</td>
                    <td class="td">Page de départ</td>
                    <td class="td">Nombre de site</td>
                    <td class="td">Date</td>
                    <td class="td td-button"></td>
                    <td class="td td-button"></td>
                </tr>
                
            </thead>
            <tbody>
                {% for row in historique[page_start_historique:(page_start_historique + items_per_page)] %}
                <tr>
                    <td class="td">{{ row.0 }}</td>
                    <td class="td">{{ row.1 }}</td>
                    <td class="td">{{ row.2 }}</td>
                    <td class="td">{{ row.3*10 }}</td>
                    <td class="td">{{ row.4 }}</td>
                    <td class="td td-button">
                        <button type="button" class="btn-action-database" onclick="afficherPopup('2','{{row.0}}', '{{row.1}}', '{{row.2}}', '{{row.3}}','true')">Editer</button>
                    </td>
                    <td class="td td-button"><button onclick="deleteHistorique({{ row.0 }})" type="button" class="btn-action-database">Supprimer</button></td>
                </tr>
                {% endfor %}
            </tbody>
           </table>

           <h2 style="color:white;">Sites</h2>
           {% set items_per_page = 50 %}
           {% set current_page = request.args.get('page', 1)|int %}
           {% set page_start_historique = (current_page - 1) * items_per_page %}
          <table class="table">
           <thead>
               <tr>
                   <td class="td">Nom de domaine</td>
                   <td class="td"></td>
                   <td class="td">Lien du site</td>
               </tr>
               
           </thead>
           <tbody>
            {% for row in site %}
               <tr>
                   <td class="td">{{ row.1 }}</td>
                   {% if row.2 == 0 %}
                        <td><strong class="text-red"> Invulnérable </strong></td>
                   {% else %}
                        <td><strong class="text-green"> Vulnérable </strong></td>
                    {% endif %}
                   <td><a name="" id="" class="btn btn-success" href="{{row.0}}" role="button" target="_blank">Aller sur le site</a></td>
               </tr>
               {% endfor %}
           </tbody>
          </table>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/hacker.js') }}"></script>
<script src="{{ url_for('static', filename='js/database.js') }}"></script>
<script src="{{ url_for('static', filename='js/sql_functions.js') }}"></script>

