<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet_header" href="./stylesheets/header.css">
    <link rel="stylesheet_header" href="./stylesheets/home.css">
    <link rel="stylesheet" href="./stylesheets/results.css">
    <link rel="stylesheet" href="./stylesheets/search.css">
</head>

<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/" aria-current="page">Home</a>
        <a class="nav-item nav-link" href="/search">Rechercher</a>
        <a class="nav-item nav-link" href="#">Sites vulnérables</a>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>