@use "@material/icon-button"; // Required only for data table with column sorting.
@use "@material/data-table/data-table";

@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;

.background-hacker{
  position: absolute; top: 0; left: 0; z-index: 1;
}
.carte_hacker{
  /* margin-right:15px; 
  margin-left:30px;  */
  background-color:rgba(20,20,20,0.8); 
  color:white;
  border: 2px solid rgba(23, 153, 11,1);
}

.carte_site{
  width: 25%;
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}