$green: rgba(23, 153, 11,1);
$white: #FFFFFF;
$black: #000000;
$red: #ff0000;

h1, h2{
  font-family: 'Rajdhani';
}
.background-hacker{
  position: fixed; top: 0; left: 0; z-index: 1;
}
.relative{
  position: relative;
}
.container{
  position: relative; z-index: 2;
  padding-top: 2rem;
}
.carte_hacker{
  background-color:$black; 
  color:$white;
  border: 2px solid $green;
}

.carte_site{
  width: 25%;
}
/* Pagination links */
.pagination a {
  color: $black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: $green;
  color: $white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: $white;}
a.err-link {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Rajdhani';
  font-weight: 500;
  color: white;
  letter-spacing: 10px;
  text-decoration: none;

}

a.err-link:hover{
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Rajdhani';
  font-weight: 500;
  color: #e9cf0ae5;
  letter-spacing: 10px;
}

.table{
  margin-top: 2rem;
  background-color: $white;
  border-radius: 5px;
  margin-bottom: 5rem;

  .td{
    text-align: left;
  }

  .td-button{
    width: 8rem;
  }

  .btn-action-database{
    color: $white;
    padding: 5px;
    margin: 5px;
    box-shadow: none;
    border-color: $green;
    background-color: $green;
    border-radius: 8px;
  }

  .btn-success{
    background-color: $green;
  }

  .text-red{
    color: $red;
  }
  .text-green{
    color:$green;
  }
}